---
---

@import "{{ site.theme }}";

h4 {
    margin-bottom: 0;
}

.head-shot {
    max-width: 270px;
}

.title {
    margin-top: 20px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 20px;

    .contact-method {
        margin: 0;
    }
}