---
---

@import "{{ site.theme }}";

.title {
    margin-top: 20px;
}

.subtitle {
    margin-top: 0;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 20px;

    .contact-method {
        margin: 0;
    }
}