---
---

@import "{{ site.theme }}";

/** Increase width on larger screens */
@media print, screen and (min-width: 960px) {
    .wrapper {
        width: 1060px;
            
        section {
            width: 700px;
        }
    }
}

h4 {
    margin-bottom: 0;
}

.head-shot {
    max-width: 270px;
}

.title {
    margin-top: 20px;
    margin-bottom: 0px;
}

.subtitle {
    margin-top: 0;
}

.contact-info {
    margin-top: 20px;
    margin-bottom: 20px;

    .contact-method {
        margin: 0;
    }
}

#resume-canvas {
    width: 100%;
}